<toaster-container></toaster-container>
<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label for="giftCode" class="col-sm-2 col-form-label">编码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="giftCode" [(ngModel)]="giftCode" placeholder="礼品编码">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="giftName" class="col-sm-2 col-form-label">名字</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="giftName" [(ngModel)]="giftName" placeholder="礼品名字">
                    </div>
                </div>
                <div class="form-group row" *ngIf="errorMsg">
                    <span class="m-auto text-danger">
                        {{errorMsg}}
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="modalRef.hide()">
        取消
    </button>
    <button *ngIf="type == 'add'" type="button" class="btn btn-primary" (click)="saveGift()">
        添加
    </button>
    <button *ngIf="type == 'edit'" type="button" class="btn btn-primary" (click)="updatGift()">
        更新
    </button>
</div>