<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card"> 
        <div class="card-body">

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info"   (click)="modalRef.hide()">
         取消
    </button>
    <button type="button" class="btn btn-primary"   (click)="modalRef.hide()">
        添加
   </button>
</div>