<div class="row">
    <div class="clearfix"></div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                礼品列表
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card">
                        <div class="card-body text-right">
                            <button class="btn btn-info" (click)="add()">
                                <i class="fa fa-plus" aria-hidden="true"></i>添加</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">礼品编码</th>
                                        <th scope="col">礼品名字</th>
                                        <th scope="col">礼品数量</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let gift of gifts; let num = index">
                                        <th scope="col" class="text-center">{{ num + 1}}</th>
                                        <th scope="col" class="text-center">{{ gift.code }}</th>
                                        <th scope="col" class="text-center">{{ gift.name }}</th>
                                        <th scope="col" class="text-center">{{ gift.num }}</th>
                                        <th scope="col" class="text-center">
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button class="btn btn-primary" (click)="updateGift(gift)">编辑</button>
                                                <button class="btn btn-warning" (click)="deleteGift(gift.id)">删除</button>
                                                <button class="btn btn-danger" (click)="updateInventory(gift.id,gift.num)">更新库存</button>
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>